<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <!--<div class="col-12">
          <card class="strpied-tabled-with-hover"
                body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title">Striped Table with Hover</h4>
              <p class="card-category">Here is a subtitle for this table</p>
            </template>
            <l-table class="table-hover table-striped"
                     :columns="table1.columns"
                     :data="table1.data">
            </l-table>
          </card>

        </div>

        <div class="col-12">
          <card class="card-plain">
            <template slot="header">
              <h4 class="card-title">Table on Plain Background</h4>
              <p class="card-category">Here is a subtitle for this table</p>
            </template>
            <div class="table-responsive">
              <l-table class="table-hover"
                       :columns="table2.columns"
                       :data="table2.data">
              </l-table>
            </div>
          </card>
        </div> -->

        <div class="col-12">
          <card class="strpied-tabled-with-hover"
                body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title">Distribución de cambios</h4>
              <p class="card-category">Seleccione el grupo de folios a enviar:</p><br>
            </template>
            <p class="card-category"><b>REQ: </b>103994</p>
            <p class="card-category"><b>OT: </b>253910</p>
            <p class="card-category"><b>DESCRIPCIÓN: </b>Embozo de tarjetas nueva impresora Matica.</p>
            <l-table class="table-hover table-striped table-sm"
                     :columns="table1.columns"
                     :data="table1.data">
            </l-table>
          </card>

        </div>

      </div>
    </div>
  </div>
</template>
<script>
  import LTable from 'src/components/Table.vue'
  import Card from 'src/components/Cards/Card.vue'
  const tableColumns = ['Orden', 'Folio', 'Canal', 'Req', 'Ot']
  const tableData = [{
    orden: 1,
    folio: '143828',
    canal: 'GU-EKM',
    req: '103997',
    ot: '299410'
  },]
  export default {
    components: {
      LTable,
      Card,
    },
    data () {
      return {
        table1: {
          columns: [...tableColumns],
          data: [...tableData]
        },
      }
    }
  }
</script>
<style>
</style>
